*{
	margin: 0;
	padding: 0;
}

.ed-toggle-nav{
	@include menu-btn;
}

.toggle-bar{
	color: #000;
}

.navbar-header{
	font-family:'Yanone Kaffeesatz', sans-serif;
	&.navbar-brand{
    float: left;
    height: 50px;
    padding: 0px;
    font-size: 18px;
    line-height: 0px;
    h1{
    	color:#88a704;
    }
	}	
}